.cardProducto{
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: #fff; 
   border: 0.3px solid rgb(192, 207, 104);
   width: 10rem;
   margin: 1rem;
   padding: 1rem;
   border-radius: 10px;

}
.cardProducto img{
    width: 150px;
    object-fit: contain;
    
}

.cardProducto button{
    
    background-color:  rgb(167, 201, 14);
    color: rgb(102, 106, 106);
    font-size: 1rem;
    border-radius: 10px;
    border: none;
    padding: 10px 20px;
    cursor:pointer;
    transition: 4s;
    
    
}

.cardProducto button:hover{
        transform: scale(1.1);
    transition: 2s;
}

img{
   cursor:pointer;
   transition: 4s;
}
img:hover{
    transform: scale(1.1);
    transition: 2s;
}
.tamaño{
    font-family: 'Courier New', Courier, monospace;
}





