
.contenedorItem{
    text-align: center;
    justify-content: center;
    
    border: 2px solid rgb(150, 209, 32);
    margin: 4rem;
    font-size: medium;

}
img{
    width: 25vh;
}
p{
    color: rgb(53, 55, 55);
}

h2{
    color: rgb(14, 15, 15);
}
h3{
  
    color: rgb(124, 129, 134);
}
h4 {
    color: rgb(112, 116, 119);
}

.tamaño{
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
}